#background-image{
    background-image: url("cinema.jpg"), linear-gradient(to top, red, blue);
    /* position: relative; */
    /* background-position: left; */
    height: 400px;
    width: 100%;
    background-size: 500px 400px, auto;
    /* background-repeat: no-repeat; */
}

/* background word banner */
#background-image h2{
  position: relative;
  left: 60px;
  top: 25px;
  color: white;
  width: calc(100% - 60px);
  font-size: 50px;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
#background-image h3{
  position: relative;
  width: calc(100% - 120px);
  left: 120px;
  top: 20px;
  font-size: 40px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:white;
} 

/* search bar */
input[type=text]{
    width: 900px;
    height: 45px;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 20px;
    background-color: white;
    color: grey;
    background-repeat: no-repeat;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;  
}
#search-bar{
    position: absolute;
    left: calc(50% - 450px);
    top: 300px;
}

.logo{
  width: 4em;
  height: 4em;
}


.header-icons{
  width: 3em;
  height: 3em;
  
}

/* nav bar login and signup adjustments*/
#login{
    margin-left: auto;
    
}
#signup{
    /* padding-right: 10px; */
}
.navbar-nav{
    width: 100%;
    align-items: center;
}

#signup .nav-link, #account .nav-link{
  display: flex;
  flex-direction: column;
}

@media (max-width:1045px) {
  #search-bar{
    display: none;
  }
  .navbar-nav{
    /* align-items: flex-start; */
    flex-direction: row;

  
  }
  .nav-link{
    margin-left: 10px;
    margin-right: 10px;
  }
  .logo{
    margin-top: 10px;
  }
  #Tmdb-div{
    transform: translate(-30px, 0px);
    width: 200px;

  }
}



/* submit button for main search bar */
#submit{
    position: relative;
    right: 74px;
    bottom: 2px;
    border-radius: 50px;
    height: 40px;
    border-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    
}



/* login */
.login-background{
    font-family: Arial, sans-serif;
	  
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  height: 100vh;
}

.login-container, .log-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  .login-container input, .log-container input {
    width: 95%; /* Adjusted width to 95% */
    padding: 9px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
  }
  .login-container button, .log-container button {
    width: 100%;
    padding: 10px;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .log-container {
    display: none;
  }
  .log-container ul {
    list-style-type: none;
    padding: 0;
  }
  .log-container ul li {
    background: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }
  .total-time {
    margin-top: 10px;
    font-weight: bold;
  }


/* movie modal containers */
  .movie-container {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: center;
	  margin-top: 20px;
	  /* margin-left: 75px; */
	}
	
	.movie {
	  width: 300px;
	  margin: 10px;
	  font-family: 'Poppins';
	  font-weight: 300;
	  font-size: 14pt;
	  text-align: center;
	}
	
	.movie img {
	  width: 100%;
	  height: auto;
	  border-radius: 10px;
	  cursor: pointer;
	}

	.movie-title {
	  font-family: 'Poppins', sans-serif;
	  font-weight: 200;
	}

	.modal {
	  display: none;
	  position: fixed;
	  z-index: 1;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  overflow: auto;
	  background-color: rgba(0, 0, 0, 0.5);
	}

	.modal-content {
	  background-color: #fefefe;
	  margin: 15% auto;
	  padding: 20px;
    padding-top: 45px;
	  border: 1px solid #888;
	  width: 50%;
	  font-family: 'Poppins', sans-serif;
	  font-size: 17px;
	  border-radius: 10px;
	  position: relative;
	}
	
	#modalTitle {
	  font-weight: normal;
	}

	.close {
	  color: #aaa;
	  position: absolute;
    right: 20px;
    top: 5px;
	  font-size: 28px;
	  font-weight: bold;
	}

	.close:hover,
	.close:focus {
	  color: black;
	  text-decoration: none;
	  cursor: pointer;
	}

	.save-button {
	  position: absolute;
	  bottom: 10px;
	  right: 10px;
	  padding: 10px 20px;
	  background-color: #007bff;
	  color: white;
	  border: none;
	  border-radius: 5px;
	  cursor: pointer;
	}


  #load-more{
    margin: 20px;
    position: relative;
    left: 45%;
    height: 40px;
    border-color: grey;
    font-family: Arial, Helvetica, sans-serif;
  }
#modalComment{
  margin-bottom: 50px;
  height: 50px;
}
.star::after{
  content: "★";
  font-size: 30px;
}
.emptyStar::after{
  content: "☆";
  font-size: 30px;
}

#Tmdb-Logo{
  width: 300px;
  height: 100px;
  position: relative;
  left: 50%;
}








  